/* Card Hover Effect */
.custom-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-card:hover {
  transform: translateY(-10px); /* Lift effect */
  box-shadow: 0 6px 12px rgb(190, 255, 0); /* Add shadow */
}

.required:before {
  content: "* ";
  color: red;
  font-weight: bold;
}
