<footer class="bg-dark text-white my-5">
    <div class="container">
        <div class="row align-items-center g-4">
            <!-- Left Section: Copyright -->
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2025 Lustiges Deutsch. All rights reserved.</p>
            </div>

            <!-- Right Section: Social Links -->
            <div class="col-md-6 text-center text-md-end">
                <a href="https://ehsan-golinia.github.io/" class="text-white me-3" aria-label="Website"><i class="fa-solid fa-house"></i></a>
                <a href="https://github.com/ehsan-golinia/" class="text-white me-3" aria-label="GitHub"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/ehsangolinia/" class="text-white me-3" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:ehsan95ai@gmail.com" class="text-white" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
</footer>