{% extends 'base.html' %}
{% load static %}

{% block title %}Lustiges Deutsch{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
    <header class="text-center my-5 mt-lg-1">
    <a href="{% url 'home' %}" class="fw-bold text-decoration-none text-uppercase text-warning h1">💚 Lustiges Deutsch 💚</a>
  </header>
    <div class="container">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-4">
    <!-- Card 1 -->
        <div class="col">
            <a href="vokabel/playervsplayer/" class="text-decoration-none text-dark" title="Vokabel">
          <div class="card bg-info custom-card position-relative">
            <img src="{% static 'images/vokabel.png' %}" class="card-img-top" alt="Vokabel">
            <div class="card-body text-center hover-title position-absolute w-100 h-100 top-0 start-0 d-flex align-items-center justify-content-center opacity-0">
                  <p class="fw-bold h6">Vokabel</p>
                </div>
          </div>
            </a>
        </div>
        <!-- Card 2 -->
        <div class="col">
            <a href="singular_plural/playervsplayer/" class="text-decoration-none text-dark" title="Singular Plural">
              <div class="card bg-info custom-card position-relative">
                <img src="{% static 'images/singular_plural.png' %}" class="card-img-top" alt="Singular Plural">
                <div class="card-body text-center hover-title position-absolute w-100 h-100 top-0 start-0 d-flex align-items-center justify-content-center opacity-0">
                  <p class="fw-bold h6">Singular/Plural</p>
                </div>
              </div>
            </a>
        </div>
        <!-- Card 3 -->
        <div class="col">
            <a href="artikel/playervsplayer/" class="text-decoration-none text-dark" title="Artikel">
          <div class="card bg-info custom-card position-relative">
            <img src="{% static 'images/artikel.png' %}" class="card-img-top" alt="Artikel">
            <div class="card-body text-center hover-title position-absolute w-100 h-100 top-0 start-0 d-flex align-items-center justify-content-center opacity-0">
                  <p class="fw-bold h6">Artikel</p>
                </div>
          </div>
            </a>
        </div>
        <!-- Card 4 -->
        <div class="col">
            <a href="verb/playervsplayer/" class="text-decoration-none text-dark" title="Verb">
              <div class="card bg-info custom-card position-relative">
                <img src="{% static 'images/verb.png' %}" class="card-img-top" alt="Verb">
                <div class="card-body text-center hover-title position-absolute w-100 h-100 top-0 start-0 d-flex align-items-center justify-content-center opacity-0">
                  <p class="fw-bold h6">Verb</p>
                </div>
              </div>
            </a>
        </div>
        <!-- Card 5 -->
        <div class="col">
            <a href="adjektiv/playervsplayer/" class="text-decoration-none text-dark" title="Adjektiv">
              <div class="card bg-info custom-card position-relative">
                <img src="{% static 'images/adjektiv.png' %}" class="card-img-top" alt="Adjektiv">
                <div class="card-body text-center hover-title position-absolute w-100 h-100 top-0 start-0 d-flex align-items-center justify-content-center opacity-0">
                  <p class="fw-bold h6">Adjektiv</p>
                </div>
              </div>
            </a>
        </div>
        <!-- Card 6 -->
        <div class="col">
            <a href="partizip_II/playervsplayer/" class="text-decoration-none text-dark" title="Partizip II">
          <div class="card bg-info custom-card position-relative">
            <img src="{% static 'images/partizip_II.png' %}" class="card-img-top" alt="Partizip II">
            <div class="card-body text-center hover-title position-absolute w-100 h-100 top-0 start-0 d-flex align-items-center justify-content-center opacity-0">
                  <p class="fw-bold h6">Partizip II</p>
                </div>
          </div>
            </a>
        </div>
        <!-- Card 7 -->
        <div class="col">
            <a href="satz/playervsplayer/" class="text-decoration-none text-dark" title="Satz">
              <div class="card bg-info custom-card position-relative">
                <img src="{% static 'images/satz.png' %}" class="card-img-top" alt="Satz">
                <div class="card-body text-center hover-title position-absolute w-100 h-100 top-0 start-0 d-flex align-items-center justify-content-center opacity-0">
                  <p class="fw-bold h6">Satz</p>
                </div>
              </div>
            </a>
        </div>
        <!-- Card 8 -->
        <div class="col">
            <a href="adjektivdeklination/playervsplayer/" class="text-decoration-none text-dark" title="Adj Deklination">
          <div class="card bg-info custom-card position-relative">
            <img src="{% static 'images/adj_deklination.png' %}" class="card-img-top" alt="Adj Deklination">
            <div class="card-body text-center hover-title position-absolute w-100 h-100 top-0 start-0 d-flex align-items-center justify-content-center opacity-0">
                  <p class="fw-bold h6">Adjektiv Deklination</p>
                </div>
          </div>
            </a>
        </div>
        <!-- Card 9 -->
        <div class="col">
            <a href="zahlen/playervsplayer/" class="text-decoration-none text-dark" title="Zahlen">
              <div class="card bg-info custom-card position-relative">
                <img src="{% static 'images/zahlen.png' %}" class="card-img-top" alt="Zahlen">
                <div class="card-body text-center hover-title position-absolute w-100 h-100 top-0 start-0 d-flex align-items-center justify-content-center opacity-0">
                  <p class="fw-bold h6">Zahlen</p>
                </div>
              </div>
            </a>
        </div>
  </div>
  </div>
{% endblock %}