{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo on the left -->
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" alt="Lustiges Deutsch" class="" style="width: 30%;">
    </a>

    <!-- Dropdown on the right -->
    <div class="d-flex ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
          {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img
                src="{{ user.profile.profile_image.url }}"
                alt="Profile Picture"
                class="rounded-circle"
                style="width: 30px; height: 30px; object-fit: cover; margin-right: 8px;">
                Hi {{ user.first_name }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><p class="dropdown-item">Total Scores: <span class="fw-bold">{{ user.scores.total_scores }}</span></p></li>
            <li><hr class="dropdown-divider"></li>
                {% if user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'Vokabel:add_vokabel' %}"><i class="fa-solid fa-plus"></i> Add Vokabel</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'Verb:add_verb' %}"><i class="fa-solid fa-plus"></i> Add Verb</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'Adjektiv:add_adjektiv' %}"><i class="fa-solid fa-plus"></i> Add Adjektiv</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'Adjektivdeklination:add_adjektivdeklination' %}"><i class="fa-solid fa-plus"></i> Add AdjDek</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fa-solid fa-lock"></i> Admin</a></li>
                {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'all_ranking' %}"><i class="fa-solid fa-ranking-star"></i> Ranking</a></li>
              <li><a class="dropdown-item" href="{% url 'user_profile' %}"><i class="fa-solid fa-user-tie"></i> Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'user_settings' %}"><i class="fa-solid fa-gear"></i> Settings</a></li>
              <li><a class="dropdown-item text-danger" href="{% url 'user_logout' %}"><i class="fa-solid fa-door-open"></i> Logout</a></li>
          </ul>
        </li>
          {% else %}
        <li class="nav-item">
          <a class="btn btn-primary" href="{% url 'user_login' %}">Login</a>
        </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
