{% extends 'base.html' %}
{% load static %}

{% block title %}Player vs Player{% endblock %}

{% block content %}
    <header class="text-center my-5">
    <a href="{% url 'home' %}" class="fw-bold text-decoration-none text-uppercase text-warning h1">Choose your option</a>
  </header>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-4 d-flex justify-content-center">
        <!-- Card 1 -->
        <div class="col">
            <div class="d-inline-block">
      <input type="radio" class="btn-check" name="radioOption" id="radio1" value="1" autocomplete="off" checked>
      <label for="radio1" class="btn btn-outline-info p-0 border-0">
            <img src="{% static 'images/1-player.png' %}" class="card-img-top" alt="1 player">
        <h4 class="text-center fw-bold text-white">1 player</h4>
      </label>
    </div>
        </div>
        <!-- Card 2 -->
        <div class="col">
            <div class="d-inline-block">
      <input type="radio" class="btn-check" name="radioOption" id="radio2" value="2" autocomplete="off">
      <label for="radio2" class="btn btn-outline-info p-0 border-0">
                <img src="{% static 'images/2-player.png' %}" class="card-img-top" alt="2 players">
        <h4 class="text-center fw-bold text-white">2 players</h4>
      </label>
    </div>
  </div>
        </div>
            <div class="d-flex justify-content-center mt-5">
            <a href="{% url 'home' %}" class="btn btn-outline-primary mx-2">Back</a>
            <button type="submit" class="btn btn-success mx-2">Play</button>
                </div>
            </form>
  </div>
{% endblock %}